<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.family_financial_system.dao.userDao">
    <select id="loginIn" resultType="testUser">
        select * from usertable where username=#{username} and password=#{password}
    </select>
</mapper>